komfovent-predictive.json
[
    {
        "id": "ddce1c5bb3fe5199",
        "type": "tab",
        "label": "Komfovent - Module: Predictive",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ce0de379b56a0d56",
        "type": "inject",
        "z": "ddce1c5bb3fe5199",
        "name": "Scheduler: Shadow Tick (10 min)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": "6",
        "topic": "shadow_tick",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 40,
        "wires": [
            [
                "e2bb94e225d54694"
            ]
        ]
    },
    {
        "id": "e2bb94e225d54694",
        "type": "function",
        "z": "ddce1c5bb3fe5199",
        "name": "Predictive: Shadow Compute",
        "func": "/**\n *\n * Patobulinimai:\n * - Bug 2: hood entity imama iš global.komfovent_entities\n * - Bug 3: predictive gerbia input_boolean.komfovent_predictive\n * - Patobulinimas 1: local rate fallback iš paskutinių CO₂ taškų\n * - Patobulinimas 2: 30 min bucket support\n */\n\nfunction clamp(min, max, v) {\n  return Math.max(min, Math.min(max, v));\n}\n\nconst matrix = global.get('prediction_matrix') || null;\nconst ents = global.get('komfovent_entities') || {};\nconst TZ = 'Europe/Vilnius';\n\nconst schema_ver = Number(global.get('schema_ver') || 0);\nconst flow_ver = String(global.get('system_version') || 0);\n\nconst ha = global.get('homeassistant') || {};\nconst states =\n  ha?.homeAssistant?.states ||\n  ha?.homeassistant?.states ||\n  ha?.states ||\n  {};\n\nfunction getState(id) {\n  if (!id) return null;\n  const raw = states?.[id]?.state;\n  if (raw === null || raw === undefined) return null;\n  const s = String(raw).trim().toLowerCase();\n  if (s === '' || s === 'unknown' || s === 'unavailable' || s === 'nan') return null;\n  return raw;\n}\n\nfunction getNum(id, fallback = 0) {\n  const raw = getState(id);\n  if (raw === null) return fallback;\n  const n = Number(raw);\n  return Number.isFinite(n) ? n : fallback;\n}\n\nfunction getBoolOn(id) {\n  const raw = getState(id);\n  if (raw === null) return false;\n  return String(raw).trim().toLowerCase() === 'on';\n}\n\n// ---------- ENABLE FLAG ----------\nconst predictiveEnabled = getBoolOn('input_boolean.komfovent_predictive');\n\n// ---------- REALTIME DATA ----------\nconst co2 =\n  Number(global.get('komfovent.telemetry_last_co2')) ||\n  getNum(ents.co2 || 'sensor.oro_stotele_carbon_dioxide', 0);\n\nconst telemetryRate = Number(global.get('komfovent.telemetry_rate'));\nconst threshold = Number(global.get('komfovent.auto_co2_on_threshold') || 750);\n\nconst alarm = String(getState(ents.alarm || 'alarm_control_panel.home') || 'armed_away');\nconst occupied = (alarm === 'disarmed');\n\n// ---------- HOOD DETECTION ----------\nconst hoodEntity = ents.hood_power || 'sensor.hood_socket_power';\nconst hoodPower = getNum(hoodEntity, 0);\nconst hoodActive = Number.isFinite(hoodPower) && hoodPower >= 75;\nconst cookingNow = hoodActive;\n\n// ---------- LOCAL CO2 HISTORY (Patobulinimas 1) ----------\nconst now = Date.now();\n\nlet pts = flow.get('predictive_co2_points') || [];\nif (!Array.isArray(pts)) pts = [];\n\nif (Number.isFinite(co2) && co2 > 0) {\n  pts.push({ ts: now, co2: Number(co2) });\n}\n\n// laikom 4 val. istoriją\npts = pts.filter(p => (now - Number(p.ts || 0)) <= 240 * 60000);\nflow.set('predictive_co2_points', pts);\n\n// skaičiuojam local rate per paskutines ~30 min\nlet localRate30 = null;\nconst recent = pts.filter(p => (now - p.ts) <= 35 * 60000);\n\nif (recent.length >= 2) {\n  const first = recent[0];\n  const last = recent[recent.length - 1];\n  const dtMin = (last.ts - first.ts) / 60000;\n  if (dtMin >= 10) {\n    localRate30 = (last.co2 - first.co2) / dtMin;\n  }\n}\n\n// galutinis rate\nlet effectiveRate = null;\nlet rateSource = 'none';\n\nif (Number.isFinite(telemetryRate)) {\n  effectiveRate = telemetryRate;\n  rateSource = 'telemetry';\n} else if (Number.isFinite(localRate30)) {\n  effectiveRate = localRate30;\n  rateSource = 'local_30m';\n} else {\n  effectiveRate = 0;\n  rateSource = 'zero_fallback';\n}\n\neffectiveRate = Number(Number(effectiveRate).toFixed(2));\n\n// ---------- TIME CONTEXT (Patobulinimas 2: 30 min bucket) ----------\nconst nowDate = new Date();\nconst bucket = Math.floor((nowDate.getHours() * 60 + nowDate.getMinutes()) / 30);\nconst dowNames = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];\nconst dow = dowNames[nowDate.getDay()];\n\nconst matrixKey = `${dow}_${bucket}_${occupied}`;\nconst hist = matrix?.data?.[matrixKey] || null;\n\n// ---------- FORECAST ----------\nlet f30;\nlet f60;\nlet forecastSource30 = 'rate';\nlet forecastSource60 = 'rate';\n\nif (hist && Number.isFinite(Number(hist.mean_growth_30))) {\n  f30 = Math.round(co2 + Number(hist.mean_growth_30));\n  forecastSource30 = 'matrix_growth_30';\n} else {\n  f30 = Math.round(co2 + effectiveRate * 30);\n}\n\nif (hist && Number.isFinite(Number(hist.mean_growth_60))) {\n  f60 = Math.round(co2 + Number(hist.mean_growth_60));\n  forecastSource60 = 'matrix_growth_60';\n} else {\n  f60 = Math.round(co2 + effectiveRate * 60);\n}\n\n// ---------- RISK MODEL ----------\nlet baseRisk = 0;\nlet anomalyStatus = 'normal';\n\nif (!predictiveEnabled) {\n  baseRisk = 0;\n  anomalyStatus = 'disabled';\n} else {\n  if (f30 >= threshold) baseRisk = 6;\n  else if (f60 >= (threshold - 50)) baseRisk = 3;\n  else if (effectiveRate > 0.5) baseRisk = 1;\n\n  if (cookingNow) {\n    baseRisk = 0;\n    anomalyStatus = 'cooking_active';\n  }\n}\n\nconst riskScore = clamp(0, 10, baseRisk);\n\n// ---------- LOG RECORD ----------\nconst rec = {\n  schema_ver,\n  flow_ver,\n\n  module: 'predictive',\n  kind: 'shadow_tick',\n\n  ts: new Date().toISOString(),\n\n  predictive_enabled: predictiveEnabled,\n\n  occupied,\n  alarm_state: alarm,\n\n  dow,\n  hour: nowDate.getHours(),\n  bucket_minutes: 30,\n\n  co2,\n  rate: effectiveRate,\n  telemetry_rate: Number.isFinite(telemetryRate) ? Number(Number(telemetryRate).toFixed(2)) : null,\n  local_rate_30m: Number.isFinite(localRate30) ? Number(Number(localRate30).toFixed(2)) : null,\n  rate_source: rateSource,\n\n  hood_active: hoodActive,\n  hood_power_w: Number.isFinite(hoodPower) ? Math.round(hoodPower) : null,\n  hood_entity: hoodEntity,\n\n  cooking_mode: cookingNow,\n\n  co2_f_30: f30,\n  co2_f_60: f60,\n  forecast_source_30: forecastSource30,\n  forecast_source_60: forecastSource60,\n\n  matrix_key: matrixKey,\n  matrix_confidence_level: matrix?.confidence_info?.level || 'low',\n  matrix_training_days: matrix?.training_days_actual || 0,\n\n  history_mean_co2: hist ? hist.mean_co2 : null,\n  history_mean_rate: hist ? hist.mean_rate : null,\n  history_mean_growth_30: hist ? hist.mean_growth_30 : null,\n  history_mean_growth_60: hist ? hist.mean_growth_60 : null,\n\n  anomaly_status: anomalyStatus,\n  risk_score: riskScore,\n\n  pred_request: {\n    action_level: !predictiveEnabled ? 0 : (riskScore >= 8 ? 3 : (riskScore >= 6 ? 2 : (riskScore >= 4 ? 1 : 0))),\n    fan_offset_pct: !predictiveEnabled ? 0 : (riskScore >= 8 ? 25 : (riskScore >= 6 ? 15 : (riskScore >= 4 ? 8 : 0))),\n    note: !predictiveEnabled\n      ? 'predictive_disabled'\n      : (matrix?.confidence_info?.level || 'low')\n  }\n};\n\n// saugom abiejose vietose\nflow.set('predictive_last', rec);\nglobal.set('predictive_last', rec);\n\nmsg.log_type = 'predictive';\nmsg.log_record = rec;\n\n// ---------- AI ALERT ----------\nlet msgAi = null;\n\nif (predictiveEnabled && riskScore >= 6 && occupied && !cookingNow) {\n  msgAi = {\n    chatId: Number(env.get(\"MY_TELEGRAM_ID\")),\n    ai_reply: true,\n    topic: 'predictive_alert',\n    payload:\n      `⚠️ *Aukšta CO₂ rizika: ${riskScore}/10*\\n` +\n      `Prognozė: ${co2} → ${f30} ppm (+30min)\\n` +\n      `Šaltinis: ${forecastSource30}`\n  };\n}\n\n// ---------- NODE STATUS ----------\nnode.status({\n  fill: !predictiveEnabled\n    ? 'grey'\n    : (cookingNow ? 'yellow' : (riskScore >= 6 ? 'red' : 'green')),\n  shape: 'dot',\n  text: !predictiveEnabled\n    ? `DISABLED | ${matrix?.confidence_info?.level || 'no-matrix'}`\n    : (cookingNow\n      ? `COOKING | R:${riskScore} | ${matrix?.confidence_info?.level || 'low'}`\n      : `R:${riskScore} | ${co2}→${f30} | ${forecastSource30}`)\n});\n\nreturn [msg, msgAi];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 40,
        "wires": [
            [
                "53beb0dbfa892dad"
            ],
            [
                "b92350a17d9b1a04"
            ]
        ]
    },
    {
        "id": "840315d40f2b49c4",
        "type": "link out",
        "z": "ddce1c5bb3fe5199",
        "name": "Log Out: Predictive",
        "mode": "link",
        "links": [
            "052998f52bfc0c6a",
            "06fe04c8af0fb417"
        ],
        "x": 925,
        "y": 40,
        "wires": []
    },
    {
        "id": "b92350a17d9b1a04",
        "type": "link out",
        "z": "ddce1c5bb3fe5199",
        "name": "AI Out: Reply",
        "mode": "link",
        "links": [
            "5e34d037680f59dc"
        ],
        "x": 655,
        "y": 100,
        "wires": []
    },
    {
        "id": "1ed0cbe82dd78d30",
        "type": "link in",
        "z": "ddce1c5bb3fe5199",
        "name": "AI In: Predictive",
        "links": [
            "63ae068f91114f13"
        ],
        "x": 355,
        "y": 100,
        "wires": [
            [
                "d6a7f6f8825df289"
            ]
        ]
    },
    {
        "id": "d6a7f6f8825df289",
        "type": "function",
        "z": "ddce1c5bb3fe5199",
        "name": "AI Handler (Predictive)",
        "func": "const last = flow.get('predictive_last') || {};\nconst matrix = global.get('prediction_matrix') || {};\nconst text = String(msg.user_text || '').toLowerCase();\n\nfunction fmtMatrix(m) {\n\n  if (!m.data)\n    return \"📊 Predictive modelis dar nesugeneruotas.\\nLaukite naktinio mokymosi (03:05).\";\n\n  const ci = m.confidence_info || {};\n\n  return `📊 *Predictive modelio būsena (v${m.model_ver})*\n━━━━━━━━━━━━━━━━━━━━\n📅 *Mokymosi laikas:* ${m.training_days_actual} d. (max 45)\n📈 *Tikslumas:* ${ci.level?.toUpperCase()} (${ci.is_live_ready ? '✅ LIVE READY' : '⚠️ SHADOW ONLY'})\n🕒 *Sugeneruota:* ${new Date(m.generated_at).toLocaleString('lt-LT')}\n💡 _Sprendimai remiasi ${Object.keys(m.data).length} elgsenos bucket'ų._`;\n\n}\n\nfunction fmtShadow(u) {\n\n  if (!u.ts)\n    return '🧠 Predictive dar neturi duomenų.';\n\n  return `🧠 *Predictive analizė*\n\n• Rizika: *${u.risk_score}/10*\n• CO₂ dabar: *${u.co2} ppm*\n• Prognozė 30 min: *${u.co2_f_30} ppm*\n\n📊 *Prognozės šaltinis:* ${u.forecast_source_30}\n\n📜 *Statusas:* ${String(u.anomaly_status || 'normal').toUpperCase()}`;\n\n}\n\nlet reply;\n\nif (text.includes('matrix'))\n  reply = fmtMatrix(matrix);\n\nelse if (\n  text.includes('shadow') ||\n  text.includes('risk') ||\n  text.includes('rizika') ||\n  text.includes('predictive')\n)\n  reply = fmtShadow(last);\n\nelse\n  reply =\n    `🧠 *Predictive informacija*\n\nGalimos komandos:\n\n/predictive – išsami prognozė\n/status – sistemos būsena`;\n\nmsg.ai_reply = true;\n\nmsg.payload = {\n  chatId: msg.chatId,\n  text: reply,\n  parse_mode: 'Markdown'\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 100,
        "wires": [
            [
                "b92350a17d9b1a04"
            ]
        ]
    },
    {
        "id": "53beb0dbfa892dad",
        "type": "function",
        "z": "ddce1c5bb3fe5199",
        "name": "Cache: Save Last Shadow",
        "func": "// Išsaugom paskutinį predictive įrašą AI užklausoms\nif (msg && msg.log_record && typeof msg.log_record === 'object') {\n  flow.set('predictive_last', msg.log_record);\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 40,
        "wires": [
            [
                "840315d40f2b49c4"
            ]
        ]
    },
    {
        "id": "926d80de45122bfa",
        "type": "inject",
        "z": "ddce1c5bb3fe5199",
        "name": "Scheduler: Daily Learner (03:05)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "05 03 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "train_matrix",
        "payloadType": "date",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "a689f67991856975"
            ]
        ]
    },
    {
        "id": "a689f67991856975",
        "type": "function",
        "z": "ddce1c5bb3fe5199",
        "name": "Build Training Command (45d)",
        "func": "const baseDir = '/data/logs/komfovent';\nconst maxDays = msg.training_window_max_days || 45;\n\n// Naudojame find - tai saugiausias būdas, kurį supranta tavo sistema\nmsg.payload = `find ${baseDir} -name \"komfovent_telemetry_*.jsonl\" -mtime -${maxDays} -exec cat {} +`;\n\nnode.status({ fill: \"blue\", shape: \"ring\", text: `Training window: ${maxDays}d` });\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 160,
        "wires": [
            [
                "18fb65d69f943bf4"
            ]
        ]
    },
    {
        "id": "18fb65d69f943bf4",
        "type": "exec",
        "z": "ddce1c5bb3fe5199",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Exec: Read Logs",
        "x": 750,
        "y": 160,
        "wires": [
            [
                "4b1d0b8953a1039b"
            ],
            [],
            []
        ]
    },
    {
        "id": "4b1d0b8953a1039b",
        "type": "function",
        "z": "ddce1c5bb3fe5199",
        "name": "Process Matrix Stats (30m)",
        "func": "// Process Matrix Stats (30m buckets)\n// Patobulinimai:\n// - bucket_minutes = 30\n// - išlaikom mean_rate\n// - papildomai skaičiuojam mean_growth_30 ir mean_growth_60\n\nfunction welfordInit() {\n  return { n: 0, mean: 0, M2: 0 };\n}\n\nfunction welfordAdd(st, x) {\n  st.n += 1;\n  const delta = x - st.mean;\n  st.mean += delta / st.n;\n  const delta2 = x - st.mean;\n  st.M2 += delta * delta2;\n}\n\nfunction welfordStd(st) {\n  if (st.n < 2) return 0;\n  return Math.sqrt(st.M2 / (st.n - 1));\n}\n\nconst schema_ver = global.get('schema_ver');\nconst model_ver = global.get('model_ver');\n\nlet lines = String(msg.payload || '').split('\\n').filter(Boolean);\nlet matrix = {};\nlet uniqueDays = new Set();\nlet timeline = [];\n\n// ---------- 1) Surenkam telemetry į timeline ----------\nfor (const line of lines) {\n  let d;\n  try {\n    d = JSON.parse(line);\n  } catch (e) {\n    continue;\n  }\n\n  if (!d.ts || d.co2 == null) continue;\n\n  const tsMs = new Date(d.ts).getTime();\n  const co2 = Number(d.co2);\n\n  if (!Number.isFinite(tsMs) || !Number.isFinite(co2)) continue;\n\n  timeline.push({\n    ts: tsMs,\n    co2,\n    dow: d.dow,\n    occupied: Boolean(d.occupied)\n  });\n\n  const dayStr = String(d.ts).split('T')[0];\n  if (dayStr) uniqueDays.add(dayStr);\n}\n\ntimeline.sort((a, b) => a.ts - b.ts);\n\n// ---------- 2) Skaičiuojam statistiką per 30 min bucket ----------\nfor (let i = 0; i < timeline.length; i++) {\n  const p = timeline[i];\n  const dtObj = new Date(p.ts);\n\n  const bucket = Math.floor((dtObj.getHours() * 60 + dtObj.getMinutes()) / 30);\n  const key = `${p.dow}_${bucket}_${p.occupied}`;\n\n  if (!matrix[key]) {\n    matrix[key] = {\n      co2: welfordInit(),\n      rate: welfordInit(),\n      growth30: welfordInit(),\n      growth60: welfordInit(),\n      n: 0\n    };\n  }\n\n  matrix[key].n += 1;\n  welfordAdd(matrix[key].co2, p.co2);\n\n  // --- rate iš sekos ---\n  if (i > 0) {\n    const prev = timeline[i - 1];\n    const dtMin = (p.ts - prev.ts) / 60000;\n\n    if (dtMin > 0 && dtMin <= 20) {\n      const rate = (p.co2 - prev.co2) / dtMin;\n      if (Number.isFinite(rate)) {\n        welfordAdd(matrix[key].rate, rate);\n      }\n    }\n  }\n\n  // --- growth 30 min ---\n  for (let j = i + 1; j < timeline.length; j++) {\n    const dtMin = (timeline[j].ts - p.ts) / 60000;\n\n    if (dtMin >= 25 && dtMin <= 40) {\n      const growth = timeline[j].co2 - p.co2;\n      if (Number.isFinite(growth)) {\n        welfordAdd(matrix[key].growth30, growth);\n      }\n      break;\n    }\n\n    if (dtMin > 45) break;\n  }\n\n  // --- growth 60 min ---\n  for (let j = i + 1; j < timeline.length; j++) {\n    const dtMin = (timeline[j].ts - p.ts) / 60000;\n\n    if (dtMin >= 55 && dtMin <= 70) {\n      const growth = timeline[j].co2 - p.co2;\n      if (Number.isFinite(growth)) {\n        welfordAdd(matrix[key].growth60, growth);\n      }\n      break;\n    }\n\n    if (dtMin > 75) break;\n  }\n}\n\n// ---------- 3) Confidence ----------\nconst trainingDays = uniqueDays.size;\n\nlet conf = 'low';\nif (trainingDays >= 30) conf = 'very_high';\nelse if (trainingDays >= 16) conf = 'high';\nelse if (trainingDays >= 8) conf = 'medium';\n\n// ---------- 4) Final matrix ----------\nlet data = {};\n\nfor (const k of Object.keys(matrix)) {\n  const m = matrix[k];\n\n  data[k] = {\n    mean_co2: Number(m.co2.mean.toFixed(2)),\n    std_co2: Number(welfordStd(m.co2).toFixed(2)),\n    mean_rate: Number(m.rate.mean.toFixed(2)),\n    std_rate: Number(welfordStd(m.rate).toFixed(2)),\n    mean_growth_30: Number(m.growth30.mean.toFixed(2)),\n    std_growth_30: Number(welfordStd(m.growth30).toFixed(2)),\n    mean_growth_60: Number(m.growth60.mean.toFixed(2)),\n    std_growth_60: Number(welfordStd(m.growth60).toFixed(2)),\n    n: m.n\n  };\n}\n\nconst finalMatrix = {\n  schema_ver,\n  model_ver,\n  bucket_minutes: 30,\n  generated_at: new Date().toISOString(),\n  training_days_actual: trainingDays,\n  confidence_info: {\n    level: conf,\n    is_live_ready: (trainingDays >= 16)\n  },\n  data\n};\n\nglobal.set('prediction_matrix', finalMatrix);\nmsg.payload = JSON.stringify(finalMatrix);\nmsg.filename = '/data/state/komfovent/prediction_matrix.json';\n\nnode.status({\n  fill: 'blue',\n  shape: 'dot',\n  text: `Model 30m | Days: ${trainingDays} | Buckets: ${Object.keys(data).length}`\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 140,
        "wires": [
            [
                "58d5a8d32c1ec66d"
            ]
        ]
    },
    {
        "id": "58d5a8d32c1ec66d",
        "type": "file",
        "z": "ddce1c5bb3fe5199",
        "name": "Save Matrix",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 950,
        "y": 200,
        "wires": [
            []
        ]
    }
]
