komfovent-control.json
[
    {
        "id": "tab_komfovent_control",
        "type": "tab",
        "label": "Komfovent – Control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "comment_control_module",
        "type": "comment",
        "z": "tab_komfovent_control",
        "name": "Module: Control",
        "info": "Komfovent rekuperatoriaus valdymo branduolys.\n\nPrioritetai:\n• STOP FLAGS → OVR → ARMED_AWAY → Langai → Day/Night → Rate boost\n\nLogging (predictive-ready):\n• JSONL į /data/logs/komfovent/komfovent_control_YYYY-MM-DD.jsonl\n• Laukai: ts, occupied, dow, hour, mode, fan, co2, rate, boost_active, outdoor, humidity, windows_long_open\n\nPastabos:\n• occupied = (alarm == \"disarmed\")\n• Auto-learning slenkstis skaitomas iš global: komfovent.auto_co2_on_threshold\n• Trumpi diagnostiniai logai flow context’e laikomi ribotai (iki 10 dienų bendram projekte).",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "inj_run_now",
        "type": "inject",
        "z": "tab_komfovent_control",
        "name": "Run Now",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.2,
        "topic": "run",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "fn_get_states_robust"
            ]
        ]
    },
    {
        "id": "inj_tick_5m",
        "type": "inject",
        "z": "tab_komfovent_control",
        "name": "Tick (Every 5 min 07–21)",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/5 7-21 * * *",
        "once": false,
        "onceDelay": 0.2,
        "topic": "tick",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "fn_get_states_robust"
            ]
        ]
    },
    {
        "id": "inj_night_start",
        "type": "inject",
        "z": "tab_komfovent_control",
        "name": "Schedule (22:00 Night Start)",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "0 22 * * *",
        "once": false,
        "onceDelay": 0.2,
        "topic": "night_start",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "fn_get_states_robust"
            ]
        ]
    },
    {
        "id": "inj_day_start",
        "type": "inject",
        "z": "tab_komfovent_control",
        "name": "Schedule (07:00 Day Start)",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "0 7 * * *",
        "once": false,
        "onceDelay": 0.2,
        "topic": "day_start",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "fn_get_states_robust"
            ]
        ]
    },
    {
        "id": "st_alarm",
        "type": "server-state-changed",
        "z": "tab_komfovent_control",
        "name": "Alarm Status",
        "server": "de0e06cd.8456e8",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "alarm_control_panel.home"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": true,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "1",
        "forType": "num",
        "forUnits": "seconds",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "alarm",
                "valueType": "str"
            }
        ],
        "x": 130,
        "y": 340,
        "wires": [
            [
                "fn_get_states_robust"
            ]
        ]
    },
    {
        "id": "st_co2",
        "type": "server-state-changed",
        "z": "tab_komfovent_control",
        "name": "CO2 Sensor",
        "server": "de0e06cd.8456e8",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.oro_stotele_carbon_dioxide"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": true,
        "stateType": "num",
        "ifState": "",
        "ifStateType": "num",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "2",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "co2",
                "valueType": "str"
            }
        ],
        "x": 130,
        "y": 400,
        "wires": [
            [
                "fn_get_states_robust"
            ]
        ]
    },
    {
        "id": "st_stopflags",
        "type": "server-state-changed",
        "z": "tab_komfovent_control",
        "name": "Stop Flags",
        "server": "de0e06cd.8456e8",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.alarm_status_stop_flags"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": true,
        "stateType": "str",
        "outputOnlyOnStateChange": true,
        "for": "1",
        "forType": "num",
        "forUnits": "seconds",
        "outputProperties": [
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "stopflags",
                "valueType": "str"
            }
        ],
        "x": 120,
        "y": 460,
        "wires": [
            [
                "fn_get_states_robust"
            ]
        ]
    },
    {
        "id": "st_outdoor",
        "type": "server-state-changed",
        "z": "tab_komfovent_control",
        "name": "Outside Temp",
        "server": "de0e06cd.8456e8",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.boiler_outside_temperature"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": true,
        "stateType": "num",
        "outputOnlyOnStateChange": false,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "outputProperties": [
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "outdoor",
                "valueType": "str"
            }
        ],
        "x": 130,
        "y": 520,
        "wires": [
            [
                "fn_get_states_robust"
            ]
        ]
    },
    {
        "id": "st_humidity",
        "type": "server-state-changed",
        "z": "tab_komfovent_control",
        "name": "Bathroom Humidity",
        "server": "de0e06cd.8456e8",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.bathroom_humidity"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": true,
        "stateType": "num",
        "ifState": "",
        "ifStateType": "str",
        "outputOnlyOnStateChange": true,
        "for": "1",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "humidity",
                "valueType": "str"
            }
        ],
        "x": 150,
        "y": 580,
        "wires": [
            [
                "fn_get_states_robust"
            ]
        ]
    },
    {
        "id": "st_windows",
        "type": "server-state-changed",
        "z": "tab_komfovent_control",
        "name": "Windows & Doors",
        "server": "de0e06cd.8456e8",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "binary_sensor.langai"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": true,
        "stateType": "str",
        "outputOnlyOnStateChange": true,
        "for": "2",
        "forType": "num",
        "forUnits": "seconds",
        "outputProperties": [
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "windows",
                "valueType": "str"
            }
        ],
        "x": 150,
        "y": 640,
        "wires": [
            [
                "fn_windows_guard_arm"
            ]
        ]
    },
    {
        "id": "fn_windows_guard_arm",
        "type": "function",
        "z": "tab_komfovent_control",
        "name": "Windows Guard: Arm Timer",
        "func": "// Langų saugiklis: paleidžiam 10 min patvirtinimą\n// - Tikslas: windows_long_open=true tik jei langai iš tiesų liko atidaryti >=10 min\n\nlet st = null;\nif (msg?.payload?.new_state?.state !== undefined) st = String(msg.payload.new_state.state);\nif (!st || st === 'unknown' || st === 'unavailable') return null;\n\nif (st === 'on') {\n  flow.set('windows_guard_target', 'on');\n  return { topic: 'windows_guard', payload: 'start' };\n}\n\nif (st === 'off') {\n  flow.set('windows_guard_target', 'off');\n  return { topic: 'windows_guard', payload: 'start' };\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 640,
        "wires": [
            [
                "tr_windows_10m"
            ]
        ]
    },
    {
        "id": "tr_windows_10m",
        "type": "trigger",
        "z": "tab_komfovent_control",
        "name": "Windows Guard: Verify After 10m",
        "op1": "",
        "op2": "check",
        "op1type": "nul",
        "op2type": "str",
        "duration": "10",
        "extend": false,
        "overrideDelay": true,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 660,
        "y": 640,
        "wires": [
            [
                "fn_windows_guard_apply"
            ]
        ]
    },
    {
        "id": "fn_windows_guard_apply",
        "type": "function",
        "z": "tab_komfovent_control",
        "name": "Windows Guard: Apply Long-Open",
        "func": "// Po 10 min patikrinam ar langai vis dar atidaryti\n// - jei target buvo 'on' ir dabar 'on' -> windows_long_open=true\n// - jei target buvo 'off' -> windows_long_open=false\n\nlet ha = global.get('homeassistant') || {};\nlet states = (ha?.homeAssistant?.states) || (ha?.homeassistant?.states) || (ha?.states) || {};\n\nconst cur = states['binary_sensor.langai'] ? String(states['binary_sensor.langai'].state) : null;\nconst target = flow.get('windows_guard_target');\n\nif (target === 'on') {\n  flow.set('windows_long_open', cur === 'on');\n} else if (target === 'off') {\n  flow.set('windows_long_open', false);\n}\n\nmsg.topic = 'windows_guard_applied';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 640,
        "wires": [
            [
                "fn_get_states_robust"
            ]
        ]
    },
    {
        "id": "fn_get_states_robust",
        "type": "function",
        "z": "tab_komfovent_control",
        "name": "Get States",
        "func": "// ===== Būsenų nuskaitymas (patikimas) =====\n// - Home Assistant būsenos iš global konteinerio (su fallback)\n// - Dienos / nakties logika pagal lokalų laiką (22:00–07:00)\n// - Signalizacijos fallback (po HA restarto) – naudojam paskutinę žinomą\n\nlet ha = global.get('homeassistant') || {};\nlet states = (ha?.homeAssistant?.states) || (ha?.homeassistant?.states) || (ha?.states) || {};\n\nconst ENT = {\n  alarm: 'alarm_control_panel.home',\n  windows: 'binary_sensor.langai',\n  co2: 'sensor.oro_stotele_carbon_dioxide',\n  outdoor: 'sensor.boiler_outside_temperature',\n  humidity: 'sensor.bathroom_humidity',\n  stopflags: 'sensor.alarm_status_stop_flags',\n  recup: 'switch.start_stop'\n};\n\nfunction isBad(v){\n  if (v === null || v === undefined) return true;\n  const s = String(v).toLowerCase();\n  return s === 'unknown' || s === 'unavailable';\n}\nfunction isNum(v){ return v !== null && v !== undefined && isFinite(v); }\nfunction num(ent){\n  const raw = states?.[ent]?.state;\n  if (isBad(raw)) return null;\n  const v = parseFloat(raw);\n  return isFinite(v) ? v : null;\n}\nfunction str(ent){\n  const raw = states?.[ent]?.state;\n  if (isBad(raw)) return null;\n  return String(raw);\n}\n\nmsg.state = {\n  alarm: str(ENT.alarm),\n  windows: str(ENT.windows),\n  windows_long_open: !!flow.get('windows_long_open'),\n  co2: num(ENT.co2),\n  outdoor: num(ENT.outdoor),\n  humidity: num(ENT.humidity),\n  stopflags: str(ENT.stopflags),\n  recup: str(ENT.recup)\n};\n\n// Alarm fallback\nif (msg.state.alarm) flow.set('alarm_last_known', msg.state.alarm);\nelse {\n  const last = flow.get('alarm_last_known');\n  if (last) msg.state.alarm = last;\n}\n\nmsg.state.recup_is_on = (String(msg.state.recup || '').toLowerCase() === 'on');\n\n// Day/Night\nconst d = new Date();\nconst mins = d.getHours() * 60 + d.getMinutes();\nlet isNight = (mins >= 22 * 60 || mins < 7 * 60);\nmsg.state.is_night = isNight;\nmsg.state.is_day = !isNight;\n\n// STOP FLAGS active\nconst stopRaw = (msg.state.stopflags ?? '');\nconst stop = String(stopRaw).trim().toLowerCase();\nconst stopActive = stop && ['none','unknown','unavailable',''].indexOf(stop) === -1;\n\n// Node status\nlet parts = [];\nparts.push(isNight ? 'NIGHT' : 'DAY');\nif (isNum(msg.state.co2)) parts.push('CO2 ' + Math.round(msg.state.co2));\nif (msg.state.windows_long_open) parts.push('WIN_LONG');\nif (stopActive) parts.push('STOP!');\nparts.push(msg.state.recup_is_on ? 'RECUP ON' : 'RECUP OFF');\n\nnode.status({ fill: stopActive ? 'red' : (msg.state.windows_long_open ? 'yellow' : 'green'), shape: 'dot', text: parts.join(' | ') });\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 200,
        "wires": [
            [
                "fn_decide_desired"
            ]
        ]
    },
    {
        "id": "fn_decide_desired",
        "type": "function",
        "z": "tab_komfovent_control",
        "name": "Decide Desired",
        "func": "/*************************************************\n * KOMFOVENT DECIDE LOGIC\n *\n * Prioritetai:\n * - STOP FLAGS\n * - Vonios OVR (histerezė)\n * - ARMED_AWAY\n * - Langai (ilgai atidaryta)\n * - Day/Night\n * - Stabilizuotas Rate Boost (rising segments, 20 min)\n *************************************************/\n\n// ===== Konfigūracija =====\nconst RATE_WINDOW_MIN = 20;\nconst RATE_THRESHOLD = 12;                 // ppm/min\nconst RATE_CONFIRMATIONS_REQUIRED = 2;\nconst BOOST_COOLDOWN_MIN = 20;\nconst BOOST_HOLD_MIN = 15;\nconst SOFT_DROP_THRESHOLD = -3;\nconst MIN_CO2_FOR_BOOST_OFFSET = 50;\n\nconst BOOST_FAN = 65;\nconst FAN_LOW = 20;\nconst FAN_MED = 30;\nconst FAN_HIGH = 45;\nconst FAN_NIGHT = 35;\n\nfunction isNum(v) { return v !== null && v !== undefined && isFinite(v); }\nfunction co2ToFan(v) {\n  if (!isNum(v)) return FAN_MED;\n  if (v < 600) return FAN_LOW;\n  if (v < 750) return FAN_MED;\n  if (v < 900) return FAN_HIGH;\n  if (v < 1100) return 70;\n  return 100;\n}\n\nconst s = msg.state || {};\nconst now = Date.now();\n\nconst co2 = s.co2;\nconst outdoor = s.outdoor;\nconst hum = s.humidity;\nconst alarm = s.alarm ? String(s.alarm) : '';\nconst windowsLong = !!s.windows_long_open;\nconst isNight = !!s.is_night;\n\n// Auto-learning slenkstis (global)\nconst autoThreshold = Number(global.get('komfovent.auto_co2_on_threshold') || 750);\n\n// STOP FLAGS\nconst stopRaw = (s.stopflags ?? '');\nconst stop = String(stopRaw).trim().toLowerCase();\nconst stopActive = stop && ['none', 'unknown', 'unavailable', ''].indexOf(stop) === -1;\n\nlet desired = { on: true, fan: FAN_MED, ovr: false, notify: null, armedBoost: false };\nlet reason = 'DEFAULT';\n\nif (stopActive) {\n  desired.on = false;\n  desired.fan = null;\n  desired.armedBoost = false;\n  reason = 'STOPFLAGS';\n}\n\n// Vonios OVR\nif (!stopActive) {\n  let bathActive = flow.get('bath_ovr_active') || false;\n  let offSince = flow.get('bath_ovr_off_since') || null;\n\n  if (isNum(hum)) {\n    if (hum > 80) {\n      bathActive = true;\n      offSince = null;\n    }\n\n    if (bathActive) {\n      if (hum < 70) {\n        if (!offSince) offSince = now;\n        else if ((now - offSince) >= 5 * 60 * 1000) {\n          bathActive = false;\n          offSince = null;\n        }\n      } else {\n        offSince = null;\n      }\n    }\n  }\n\n  flow.set('bath_ovr_active', bathActive);\n  flow.set('bath_ovr_off_since', offSince);\n\n  if (bathActive) {\n    desired.on = true;\n    desired.fan = 100;\n    desired.ovr = true;\n    desired.armedBoost = false;\n    reason = 'BATH_OVR';\n  }\n}\n\n// ARMED_AWAY\nif (!stopActive && !desired.ovr) {\n  if (alarm === 'armed_away') {\n    const boostDone = flow.get('armed_boost_done') || false;\n\n    if (!boostDone && isNum(co2) && co2 >= 800) {\n      flow.set('armed_boost_done', true);\n      desired.on = true;\n      desired.fan = co2ToFan(co2);\n      desired.armedBoost = true;\n      reason = 'ARMED_AWAY_BOOST';\n    } else {\n      desired.on = false;\n      desired.fan = null;\n      desired.armedBoost = false;\n      reason = 'ARMED_AWAY_OFF';\n    }\n  } else {\n    flow.set('armed_boost_done', false);\n    desired.armedBoost = false;\n  }\n}\n\n// Langai\nif (!stopActive && !desired.ovr && alarm !== 'armed_away') {\n  if (windowsLong) {\n    desired.on = false;\n    desired.fan = null;\n    desired.armedBoost = false;\n    reason = 'WINDOWS_LONG';\n  }\n}\n\n// Day/Night\nif (!stopActive && !desired.ovr && !windowsLong && alarm !== 'armed_away') {\n  if (isNight) {\n    desired.on = true;\n    desired.fan = Math.max(FAN_NIGHT, co2ToFan(co2));\n    reason = 'NIGHT';\n  } else {\n    if (isNum(outdoor) && outdoor > 18) {\n      if (isNum(co2) && co2 >= 800) {\n        desired.on = true;\n        desired.fan = co2ToFan(co2);\n        reason = 'DAY_HOT_CO2_HIGH';\n      } else {\n        desired.on = false;\n        desired.fan = null;\n        reason = 'DAY_HOT_OFF';\n      }\n    } else {\n      desired.on = true;\n      desired.fan = co2ToFan(co2);\n      reason = 'DAY';\n    }\n  }\n}\n\n// ===== Stabilizuotas Rate Boost (rising segments) =====\nlet rate = 0;\n\nif (desired.on === true && !desired.ovr && alarm !== 'armed_away') {\n  let rateLog = flow.get('rate_log') || [];\n  if (isNum(co2)) rateLog.push({ ts: now, co2: co2 });\n\n  const windowMs = RATE_WINDOW_MIN * 60 * 1000;\n  rateLog = rateLog.filter(e => (now - e.ts) <= windowMs);\n  flow.set('rate_log', rateLog);\n\n  // --- rate = avg of rising segments only (ppm/min) ---\n  let sumRate = 0;\n  let cnt = 0;\n\n  for (let i = 1; i < rateLog.length; i++) {\n    const dtMin = (rateLog[i].ts - rateLog[i - 1].ts) / 60000;\n\n    // su 5 min sensoriu normalu ~5 min; leidžiam iki 10 min (gap guard)\n    if (dtMin <= 0 || dtMin > 10) continue;\n\n    const dCo2 = rateLog[i].co2 - rateLog[i - 1].co2;\n\n    // tik kylantys segmentai\n    if (dCo2 > 0) {\n      sumRate += (dCo2 / dtMin);\n      cnt++;\n    }\n  }\n\n  rate = cnt ? (sumRate / cnt) : 0;\n\n  let confirmations = flow.get('rate_confirmations') || 0;\n\n  if (\n    rate >= RATE_THRESHOLD &&\n    isNum(co2) &&\n    co2 >= (autoThreshold - MIN_CO2_FOR_BOOST_OFFSET)\n  ) confirmations++;\n  else confirmations = 0;\n\n  flow.set('rate_confirmations', confirmations);\n\n  let lastStart = flow.get('rate_boost_last_start') || 0;\n  const cooldownActive = (now - lastStart) < (BOOST_COOLDOWN_MIN * 60000);\n\n  let boostActive = flow.get('rate_boost_active') || false;\n  let holdUntil = flow.get('rate_boost_hold_until') || 0;\n\n  // START\n  if (!boostActive && !cooldownActive && confirmations >= RATE_CONFIRMATIONS_REQUIRED) {\n    boostActive = true;\n    lastStart = now;\n    holdUntil = now + BOOST_HOLD_MIN * 60000;\n\n    flow.set('rate_boost_last_start', lastStart);\n    flow.set('rate_boost_hold_until', holdUntil);\n\n    // Diagnostikai: boost_log (trumpas)\n    let boostLog = flow.get('boost_log') || [];\n    boostLog.push({ ts: now, co2: co2, rate: Number(rate.toFixed(2)), threshold: autoThreshold });\n    while (boostLog.length > 2000) boostLog.shift();\n    flow.set('boost_log', boostLog);\n  }\n\n  // HOLD / STOP\n  if (boostActive) {\n    if (rate <= SOFT_DROP_THRESHOLD) boostActive = false;\n    if (now > holdUntil) boostActive = false;\n  }\n\n  flow.set('rate_boost_active', boostActive);\n\n  if (boostActive && isNum(desired.fan)) {\n    desired.fan = Math.max(desired.fan, BOOST_FAN);\n    reason += '+RATE';\n  }\n}\n\n// Normalizavimas\nif (desired.on === false) {\n  desired.fan = null;\n  desired.ovr = false;\n  desired.armedBoost = false;\n}\n\n// Telemetrija\nmsg._rate = Number(isFinite(rate) ? rate : 0);\nmsg._boostActive = (flow.get('rate_boost_active') === true);\n\nnode.status({\n  fill: stopActive ? 'red' : (desired.ovr ? 'blue' : 'green'),\n  shape: 'dot',\n  text: reason + (desired.fan ? (' | FAN ' + desired.fan) : ' | OFF')\n});\n\nmsg.desired = desired;\nmsg.reason = reason;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 200,
        "wires": [
            [
                "fn_rate_telemetry",
                "fn_branch_armed_boost",
                "fn_build_control_log"
            ]
        ]
    },
    {
        "id": "fn_branch_armed_boost",
        "type": "function",
        "z": "tab_komfovent_control",
        "name": "Branch: Armed Away Boost",
        "func": "// ARMED_AWAY boost šaka\n// - OUT1: visada perduodam msg toliau\n// - OUT2: start signalas tik jei desired.armedBoost=true\n\nconst d = msg.desired || {};\nif (d.armedBoost === true) return [msg, { topic: 'armed_boost_start' }];\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "x": 880,
        "y": 120,
        "wires": [
            [
                "fn_normalize_key"
            ],
            [
                "tr_armed_boost_10m"
            ]
        ]
    },
    {
        "id": "tr_armed_boost_10m",
        "type": "trigger",
        "z": "tab_komfovent_control",
        "name": "Armed Boost Timer (10m → OFF)",
        "op1": "",
        "op2": "stop",
        "op1type": "nul",
        "op2type": "str",
        "duration": "10",
        "extend": false,
        "overrideDelay": true,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1200,
        "y": 140,
        "wires": [
            [
                "fn_force_off_after_armed"
            ]
        ]
    },
    {
        "id": "fn_force_off_after_armed",
        "type": "function",
        "z": "tab_komfovent_control",
        "name": "Force OFF After Armed Boost",
        "func": "// Priverstinis išjungimas po ARMED_AWAY boost\n\nmsg.desired = { on: false, fan: null, ovr: false, notify: null, armedBoost: false };\nmsg.reason = 'ARMED_AWAY_BOOST_END';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1510,
        "y": 160,
        "wires": [
            [
                "fn_normalize_key",
                "fn_build_control_log"
            ]
        ]
    },
    {
        "id": "fn_normalize_key",
        "type": "function",
        "z": "tab_komfovent_control",
        "name": "Normalize + Build Key",
        "func": "// Normalizacija + desired_key RBE filtrui\n// RBE turi reaguoti tik į tikslinę būseną (desired), ne į faktinę (recup_is_on)\n\nconst d = msg.desired || {};\n\nif (d.on === false) {\n  d.fan = null;\n  d.ovr = false;\n  d.armedBoost = false;\n}\n\n// Stabilus raktas tik iš TARGET reikšmių\nmsg.desired_key = JSON.stringify({\n  on: d.on === true,\n  fan: (d.fan === null || d.fan === undefined) ? null : Math.round(d.fan),\n  ovr: d.ovr === true\n});\n\nmsg.desired = d;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 80,
        "wires": [
            [
                "rbe_desired"
            ]
        ]
    },
    {
        "id": "rbe_desired",
        "type": "rbe",
        "z": "tab_komfovent_control",
        "name": "RBE: Desired Changed",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "desired_key",
        "topi": "topic",
        "x": 1390,
        "y": 80,
        "wires": [
            [
                "fn_build_actions"
            ]
        ]
    },
    {
        "id": "fn_build_actions",
        "type": "function",
        "z": "tab_komfovent_control",
        "name": "Build Actions",
        "func": "// Veiksmų sąrašo sudarymas (msg.payload = array)\n// - Fan ribojamas 20–100%\n// - OVR relė valdoma atskirai\n\nconst d = msg.desired || {};\n\nconst ENT = {\n  start_stop: 'switch.start_stop',\n  intake: 'number.intake_level_1',\n  exhaust: 'number.exhaust_level_1',\n  ovr_relay: 'switch.recup_switch_relay'\n};\n\nlet actions = [];\n\nif (d.on === true) actions.push({ kind: 'switch_on', entity_id: ENT.start_stop });\nelse actions.push({ kind: 'switch_off', entity_id: ENT.start_stop });\n\nif (d.on === true && d.fan !== null && d.fan !== undefined) {\n  const v = Math.max(20, Math.min(100, Math.round(d.fan)));\n  actions.push({ kind: 'set_number', entity_id: ENT.intake, value: v });\n  actions.push({ kind: 'set_number', entity_id: ENT.exhaust, value: v });\n}\n\nactions.push({ kind: (d.ovr === true ? 'switch_on' : 'switch_off'), entity_id: ENT.ovr_relay });\n\nmsg.payload = actions;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1590,
        "y": 80,
        "wires": [
            [
                "split_actions"
            ]
        ]
    },
    {
        "id": "split_actions",
        "type": "split",
        "z": "tab_komfovent_control",
        "name": "Split Actions",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "idx",
        "property": "payload",
        "x": 1770,
        "y": 80,
        "wires": [
            [
                "sw_action_kind"
            ]
        ]
    },
    {
        "id": "sw_action_kind",
        "type": "switch",
        "z": "tab_komfovent_control",
        "name": "Route Action by Kind",
        "property": "payload.kind",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "switch_on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "switch_off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "set_number",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1820,
        "y": 160,
        "wires": [
            [
                "fn_prep_sw_on"
            ],
            [
                "fn_prep_sw_off"
            ],
            [
                "fn_prep_num_set"
            ]
        ]
    },
    {
        "id": "fn_prep_sw_on",
        "type": "function",
        "z": "tab_komfovent_control",
        "name": "Prep: switch.turn_on",
        "func": "// Paruošia payload switch.turn_on servisui\n\nconst a = msg.payload;\nif (!a?.entity_id) return null;\nmsg.payload = { entity_id: a.entity_id };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2060,
        "y": 100,
        "wires": [
            [
                "ha_sw_on"
            ]
        ]
    },
    {
        "id": "fn_prep_sw_off",
        "type": "function",
        "z": "tab_komfovent_control",
        "name": "Prep: switch.turn_off",
        "func": "// Paruošia payload switch.turn_off servisui\n\nconst a = msg.payload;\nif (!a?.entity_id) return null;\nmsg.payload = { entity_id: a.entity_id };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2060,
        "y": 160,
        "wires": [
            [
                "ha_sw_off"
            ]
        ]
    },
    {
        "id": "fn_prep_num_set",
        "type": "function",
        "z": "tab_komfovent_control",
        "name": "Prep: number.set_value",
        "func": "// Paruošia payload number.set_value servisui\n\nconst a = msg.payload;\nif (!a?.entity_id) return null;\nconst val = Number(a.value);\nif (!isFinite(val)) return null;\nmsg.payload = { entity_id: a.entity_id, value: val };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2070,
        "y": 220,
        "wires": [
            [
                "ha_num_set"
            ]
        ]
    },
    {
        "id": "fn_rate_telemetry",
        "type": "function",
        "z": "tab_komfovent_control",
        "name": "Rate Telemetry",
        "func": "// Telemetrija į HA + mazgo statusas\n\nconst s = msg.state || {};\nconst d = msg.desired || {};\n\nconst rate = (typeof msg._rate === 'number' && isFinite(msg._rate)) ? msg._rate : 0;\nconst boostActive = (msg._boostActive === true) || (flow.get('rate_boost_active') === true);\n\n// Logic Mode tekstas (LT) – tik HA sensoriui\nlet modeLt = 'Diena';\nif ((msg.reason || '').includes('STOP')) modeLt = 'STOP';\nelse if (d.ovr) modeLt = 'OVR';\nelse if (String(s.alarm || '') === 'armed_away') modeLt = 'Išvykę';\nelse if (boostActive) modeLt = 'CO2 kilimas';\nelse if (s.is_night) modeLt = 'Naktis';\n\nnode.status({\n  fill: (d.on ? (boostActive ? 'yellow' : 'green') : 'red'),\n  shape: 'dot',\n  text: (modeLt.toUpperCase() + ' | CO2: ' + Math.round(s.co2 || 0) + ' | Rate: ' + rate.toFixed(2))\n});\n\nreturn [\n  { payload: Number(rate.toFixed(2)) },\n  { payload: boostActive },\n  { payload: modeLt }\n];",
        "outputs": 3,
        "noerr": 0,
        "x": 840,
        "y": 280,
        "wires": [
            [
                "ha_sensor_rate"
            ],
            [
                "ha_bin_boost"
            ],
            [
                "ha_sensor_logic"
            ]
        ]
    },
    {
        "id": "fn_build_control_log",
        "type": "function",
        "z": "tab_komfovent_control",
        "name": "Build Control Log Record",
        "func": "// Predictive-ready įrašas (JSONL)\n// - Viena eilutė = vienas įvykis\n// - ts/dow/hour skaičiuojami pagal Europe/Vilnius\n\nconst TZ = 'Europe/Vilnius';\n\nconst s = msg.state || {};\nconst d = msg.desired || {};\nconst rate = (typeof msg._rate === 'number' && isFinite(msg._rate)) ? msg._rate : 0;\n\nconst now = new Date();\n\nfunction ltParts(date){\n  const parts = new Intl.DateTimeFormat('en-GB', {\n    timeZone: TZ,\n    year: 'numeric', month: '2-digit', day: '2-digit',\n    hour: '2-digit', minute: '2-digit', second: '2-digit',\n    hour12: false\n  }).formatToParts(date);\n  const get = (t) => parts.find(p => p.type === t)?.value;\n  return {\n    y: get('year'), mo: get('month'), d: get('day'),\n    hh: Number(get('hour')),\n    mm: get('minute'),\n    ss: get('second')\n  };\n}\n\nfunction ltDowNum(date){\n  const wd = new Intl.DateTimeFormat('en-US', { timeZone: TZ, weekday: 'short' }).format(date);\n  const map = { Sun: 0, Mon: 1, Tue: 2, Wed: 3, Thu: 4, Fri: 5, Sat: 6 };\n  return map[wd] ?? 0;\n}\n\nconst p = ltParts(now);\nconst ts = `${p.y}-${p.mo}-${p.d}T${String(p.hh).padStart(2,'0')}:${p.mm}:${p.ss}`;\nconst dateStr = `${p.y}-${p.mo}-${p.d}`;\n\nconst rec = {\n  ts,\n  occupied: (String(s.alarm || '') === 'disarmed'),\n  dow: ltDowNum(now),\n  hour: p.hh,\n  mode: msg.reason || '',\n  fan: (d.fan === undefined ? null : d.fan),\n  co2: (s.co2 === undefined ? null : s.co2),\n  rate: Number(rate.toFixed(2)),\n  boost_active: (flow.get('rate_boost_active') === true),\n  outdoor: (s.outdoor === undefined ? null : s.outdoor),\n  humidity: (s.humidity === undefined ? null : s.humidity),\n  windows_long_open: !!s.windows_long_open\n};\n\nmsg.log_type = 'control';\nmsg.filename = `/data/logs/komfovent/komfovent_control_${dateStr}.jsonl`;\nmsg.payload = JSON.stringify(rec) + \"\\n\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 870,
        "y": 200,
        "wires": [
            [
                "file_append_control"
            ]
        ]
    },
    {
        "id": "file_append_control",
        "type": "file",
        "z": "tab_komfovent_control",
        "name": "Append JSONL (control daily)",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ha_sw_on",
        "type": "api-call-service",
        "z": "tab_komfovent_control",
        "name": "HA Call: switch.turn_on",
        "server": "de0e06cd.8456e8",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"entity_id\":\"{{payload.entity_id}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_on",
        "x": 2310,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "ha_sw_off",
        "type": "api-call-service",
        "z": "tab_komfovent_control",
        "name": "HA Call: switch.turn_off",
        "server": "de0e06cd.8456e8",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"entity_id\":\"{{payload.entity_id}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_off",
        "x": 2310,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "ha_num_set",
        "type": "api-call-service",
        "z": "tab_komfovent_control",
        "name": "HA Call: number.set_value",
        "server": "de0e06cd.8456e8",
        "version": 7,
        "debugenabled": false,
        "action": "number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"entity_id\":\"{{payload.entity_id}}\",\"value\":{{payload.value}}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "number",
        "service": "set_value",
        "x": 2320,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ha_sensor_rate",
        "type": "ha-sensor",
        "z": "tab_komfovent_control",
        "name": "HA Sensor: CO2 Rate",
        "entityConfig": "ha_cfg_rate",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1100,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "ha_bin_boost",
        "type": "ha-binary-sensor",
        "z": "tab_komfovent_control",
        "name": "HA Binary: Rate Boost Active",
        "entityConfig": "ha_cfg_boost",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1120,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "ha_sensor_logic",
        "type": "ha-sensor",
        "z": "tab_komfovent_control",
        "name": "HA Sensor: Logic Mode",
        "entityConfig": "ha_cfg_logic",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1110,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "de0e06cd.8456e8",
        "type": "server",
        "name": "Home Assistant",
        "version": 6,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": [
            "y",
            "yes",
            "true",
            "on",
            "home",
            "open"
        ],
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    },
    {
        "id": "ha_cfg_rate",
        "type": "ha-entity-config",
        "server": "de0e06cd.8456e8",
        "deviceConfig": "",
        "name": "Sensor config: CO2 Rate",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "CO₂ kilimo greitis (ppm/min)"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "ppm/min"
            },
            {
                "property": "state_class",
                "value": "measurement"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "ha_cfg_boost",
        "type": "ha-entity-config",
        "server": "de0e06cd.8456e8",
        "deviceConfig": "",
        "name": "Binary config: Rate Boost Active",
        "version": 6,
        "entityType": "binary_sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Rate boost"
            },
            {
                "property": "device_class",
                "value": "power"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "ha_cfg_logic",
        "type": "ha-entity-config",
        "server": "de0e06cd.8456e8",
        "deviceConfig": "",
        "name": "Sensor config: Logic Mode",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Komfovent logic"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "7b2dd5672ec3354d",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-home-assistant-websocket": "0.80.3"
        }
    }
]